<!DOCTYPE html>
<html>
<%- include('head.ejs'); %> 
<body>
    <div class="container">
        <form id="entry-form" method="POST" action="/submit">
            <input name="name" type="text" placeholder="Name (required)" required>
            <textarea form="entry-form" name="body" placeholder="Your Message"></textarea>
            <input type="submit" name="Submit">
        </form>
        
        <% if (!error) {%> 
        <% const months = ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"] %> 
        <%  for (let i = 0; i < entries.length; i++) { %>
            <div class="entry">
                <div class="name"><%=entries[i].name; %></div>
                <% if(entries[i].body){ %>
                <div class="comment"><%= entries[i].body %></div>
                <% } %>  
                <div class="date"><%=entries[i].date.getDate() + '/' + months[entries[i].date.getMonth()] + '/' + entries[i].date.getFullYear()%> </div>
            </div>
        <%  } %>
        <% } else { %>
            <div><%= 'Database Error' %></div>
        <% } %>  
    </div>
</body>
</html>